@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* dark shades of primary color*/
  --primary: '#5E8EA2';
  --night: '#2D4E5A';
  --dark: '#31515E';
  --darker: '#1A3D4B';
  --light: '#B9D5DE';
  --bg-main: #f3f4f6;
}

body {
  background-color: var(--bg-main);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #b9d5de;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #b9d5de !important;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

input[type='range']::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #5e8ea2;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
